extends base


block content
    main.main
        .login-form
            h2.heading-secondary.ma-bt-lg Create your account!
            form.form.form--signup
                .form__group
                    label.form__label(for='name') Your name
                    input.form__input(id='name', type="text", placeholder="Enter Your Name", required)
                .form__group
                    label.form__label(for="email") Email address
                    input.form__input(id="email", type="email", placeholder="you@example.com", required)
                .form__group.ma-bt-md
                    label.form__label(for="password") Password
                    input.form__input(id="password", type="password", placeholder="••••••••", required, minlength='8')
                .form__group.ma-bt-md
                    label.form__label(for="passwordConfirm") Confirm Password
                    input.form__input(id="passwordConfirm", type="password", placeholder="••••••••", required, minlength='8')
                .form__group
                    button.btn.btn--green Sign up

