@media only screen and (max-width: 1200px) {
}

/*Small tablets to big tablets  from  768 px to 1023 px*/
@media only screen and (max-width: 1023px) {
}

/*Small Phones to small tablets  from  480px to 767 px*/
@media only screen and (max-width: 767px) {
  body{ padding: 0rem;}
  html {
    font-size: 62.5%;
  }
  .header__logo img {
    height: 2.5rem;
  }

  .main{
    padding: 2rem 2rem;
  }

  .nav {
    display: flex;
  }

  .card-container {
    display: block !important;
    margin-top: 3rem;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 7rem;
  }

  .header {
    display: flex;
    flex-direction: row;
  }

  .header__logo {
    transform: translate(310%, 20%);
  }

  .nav__el,
  .nav__el:link,
  .nav__el:visited {
    font-size: 1.3rem;
  }

  .pos--mob {
    transform: translateX(-200%);
  }
  .pos--mob--login{
      transform: translate(-100%,145%);
  }
  .pos--mob--signup{
      transform: translate(50%,-30%);
  }


  .heading-primary{
    font-size: 2rem;
  }
  .heading-box__text{
    font-size: 1.2rem;
  }
  .heading-secondary {
    font-size: 1.6rem;
  }
  .section-description{
    display: block;
  }
  
  .cta{
     height: 50rem;
    padding:0 
  }
  .cta__img {

    left: 37%;
    top: 22%;
    
}

.cta__content {
  display: block;
  transform: translate(-32%, 70%);
}
.cta__text {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
}

.user-view {
  flex-direction: column;
}
}

/*Small Phones from 0 to 480px*/
@media only screen and (max-width: 480px) {
  body{ padding: 0rem;}
  html {
    font-size: 62.5%;
  }
  .header__logo img {
    height: 2.5rem;
  }

  .nav {
    display: flex;
  }

  .card-container {
    display: block !important;
    
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 7rem;
  }

  .header {
    position: relative;
    display: flex;
    flex-direction: row;
  }

  .header__logo {

    transform: translate(177%, 38%);
  }

  .nav__el,
  .nav__el:link,
  .nav__el:visited {
    font-size: 1.3rem;
  }

  .pos--mob {
    transform: translateX(-180%);
  }
  .pos--mob--login{
      transform: translate(-100%,145%);
  }
  .pos--mob--signup{
      transform: translate(40%,-30%);
  }


  .heading-primary{
    font-size: 2.3rem;
    width: 100%;
  }
  .heading-box__text{
    font-size: 1.2rem;
  }
  .heading-secondary {
    font-size: 1.6rem;
  }
  .section-description{
    display: block;
  }
  
  .cta{ height: 44rem; }
  .cta__img {

    left: 32%;
    top: 22%;
    
}

.cta__content {
  display: block;
  transform: translate(11%, 194%);;
}
.cta__text {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  padding: .7rem 7rem 0 0;
}

.user-view {
  flex-direction: column;
}

.user-view__content {
  padding: 4rem 0;
}
.user-view__form-container {
  max-width: 78rem;
  width: 100%;
  margin: 0 auto;
  padding: 0 3rem;
}
.section-header {
  position: relative;
  height: 100vw;
}





}
